/*mar-header section*/

#mar-header .btn-header {}

#mar-header h1.logo {
    padding-top: 10px;
    display: inline-block;
    width: 140px;
    height: 32px;
    background: url('http://demos.telerik.com/kendo-ui/content/spa/websushi/css/images/logo.png') 0 0 no-repeat;
}

#mar-header h1 a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

#mar-header {
    padding-bottom: 40px;
    border-bottom: 1px solid #535353;
    margin-left: 9%;
    margin-right: 6%;
}

#mar-header #logo-pic {
    float: left;
}

#mar-header #cart-info {
    float: right;
    height: 28px;
    line-height: 28px;
    vertical-align: middle;
    font-size: 10px;
    text-transform: uppercase;
    color: #bababa;
    background-color: #000000;
    padding-left: 10px;
    letter-spacing: 1px;
}

#mar-header #cart-info>span {
    display: inline-block;
    background: rgb(214, 0, 65);
    background: -moz-linear-gradient(top, rgba(214, 0, 65, 1) 0%, rgba(169, 0, 64, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(214, 0, 65, 1)), color-stop(100%, rgba(169, 0, 64, 1)));
    background: -webkit-linear-gradient(top, rgba(214, 0, 65, 1) 0%, rgba(169, 0, 64, 1) 100%);
    background: -o-linear-gradient(top, rgba(214, 0, 65, 1) 0%, rgba(169, 0, 64, 1) 100%);
    background: -ms-linear-gradient(top, rgba(214, 0, 65, 1) 0%, rgba(169, 0, 64, 1) 100%);
    background: linear-gradient(to bottom, rgba(214, 0, 65, 1) 0%, rgba(169, 0, 64, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#d60041', endColorstr='#a90040', GradientType=0);
    position: relative;
    padding: 0 26px 0 28px;
}

#mar-header #cart-info>span:hover {
    background: rgb(214, 0, 65);
    background: -moz-linear-gradient(top, rgba(169, 0, 64, 1) 0%, rgba(214, 0, 65, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(169, 0, 64, 1)), color-stop(100%, rgba(214, 0, 65, 1)));
    background: -webkit-linear-gradient(top, rgba(169, 0, 64, 1) 0%, rgba(214, 0, 65, 1) 100%);
    background: -o-linear-gradient(top, rgba(169, 0, 64, 1) 0%, rgba(214, 0, 65, 1) 100%);
    background: -ms-linear-gradient(top, rgba(169, 0, 64, 1) 0%, rgba(214, 0, 65, 1) 100%);
    background: linear-gradient(to bottom, rgba(169, 0, 64, 1) 0%, rgba(214, 0, 65, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#d60041', endColorstr='#a90040', GradientType=0);
}

#mar-header #cart-info span {
    color: #fff;
}

#mar-header #cart-info span span {
    line-height: 26px;
    font-size: 14px;
}

#mar-header #cart-info span:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    border-top: 14px solid #000;
    border-right: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 14px solid #000;
}

#mar-header #cart-info span:after {
    content: "";
    display: block;
    width: 8px;
    height: 6px;
    position: absolute;
    right: 10px;
    top: 12px;
}


/*footer section*/

#footer {
    text-align: center;
    position: relative;
    border-top: 1px solid #535353;
    font-size: 12px;
    padding-bottom: 60px;
    color: #999;
}

#footer p {
    margin: 10px 0;
}

#footer a {
    color: #d60041;
}


/*clear floats*/

#footer:after:after {
    content: "";
    clear: both;
    display: block;
}